config {
    // location of the test directory
    testsDir "."
    workDir System.getenv("NFT_WORKDIR") ?: ".nf-test"
    libDir "lib"
    ignore ".pixi/*", 'modules/nf-core/**/tests/*', 'subworkflows/nf-core/**/tests/*'
    configFile "tests/nextflow.config"
    // Pick ONE engine
    options    "-stub-run -with-singularity"

    withTrace  false
    autoSort   true
}
