config {
    // location of the test directory
    testsDir "."
    workDir ".nf-test"
    libDir "lib"
    ignore ".pixi/**/*", "modules/nf-core/**/*", "subworkflows/nf-core/**/*"
    configFile "tests/nextflow.config"
    // Pick ONE engine
    //options    "-stub-run -with-singularity"

    withTrace  false
    autoSort   true
}
