/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process {
    // override base.config default so test failures are not silently ignored
    errorStrategy = 'terminate'
    memory = { [task.memory, 12.GB].min() }
    cpus   = { Math.min(task.cpus, Runtime.getRuntime().availableProcessors()) }
    withName: VCFTOOLS_DIFF_RUN {
        ext.args = '--diff --diff-site'
    }
}
