/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process {
    // override base.config default so test failures are not silently ignored
    errorStrategy = 'terminate'
    memory = 6.GB
    cpus   = 2
    withName: VCFTOOLS_DIFF_RUN {
        ext.args = '--diff --diff-site'
    }
    withLabel: 'process_low' {
        cpus   = 2
        memory = 6.GB
    }
    withLabel: 'process_medium' {
        cpus   = 2
        memory = 6.GB
    }
    withLabel: 'process_high' {
        cpus   = 2
        memory = 6.GB
    }
    withLabel: 'process_high_memory' {
        cpus   = 2
        memory = 6.GB
    }
}

params {
    max_cpus   = 2
    max_memory = 6.GB
}
