/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/mpxvassembly -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    if ( params.sra ) {
        sra_ids  = "${projectDir}/assets/test_sra_list"
    }
    input  = "${projectDir}/assets/samplesheet.test.csv"

    // Other args
    outdir = './mpxvassembly_results'
    fasta = "${projectDir}/assets/MPXV-UK_P2.noN.fasta"
    gff = "${projectDir}/assets/UK-P2.noN.gff"
    kraken_db = 's3://io-pe1-prod-ncezid-oamd-nextstrain/polkapox/mpx_human_kdb/'
}
